/* body {
    background-size: cover;
    background-repeat: no-repeat;
} */

.jumbotron {
    margin-top: 5%;
    margin-right: 14.158636%;
    margin-left: 14.158636%;
    background-image: url(LE_Blue-Hour_01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
    line-height: 200%;
}

h1 {
    color: white;
}

.full img {
    text-align: center;
    margin-left: 2.1%;
    margin-right: 2.1%;
    margin-top: 5%;
    margin-bottom: 1.1%;

}

footer {
    position: sticky;
    border-top: 8px solid #4aaaa5;
    color: black;
    background-color: grey;
    padding: 2%;
    margin-top: 5%;
    font-size: 1.3em;
}

a:link {
    color: black;
  }
  
a:visited {
    color: black;
  }
  
a:hover {
    color: black;
  }
  
a:active {
    color: black;
  }